@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<a href="@Url.Action("MockInvestmentFolio", "MockInvestmentPortfolio")"><button class="btn btn-primary btn-lg">View User Portfolio</button></a>
